bin/Debug/netcoreapp2.1/Advent of Code.dll
bin/Debug/netcoreapp2.1/Advent of Code.pdb
bin/Debug/netcoreapp2.1/Advent of Code.csproj.nuget.cache
bin/Debug/netcoreapp2.1/Advent of Code.csproj.nuget.g.props
bin/Debug/netcoreapp2.1/Advent of Code.csproj.nuget.g.targets
bin/Debug/netcoreapp2.1/project.assets.json
obj/Debug/netcoreapp2.1/Advent of Code.assets.cache
obj/Debug/netcoreapp2.1/Advent of Code.dll
obj/Debug/netcoreapp2.1/Advent of Code.pdb
obj/Debug/netcoreapp2.1/Advent of Code.deps.json
obj/Debug/netcoreapp2.1/Advent of Code.runtimeconfig.dev.json
obj/Debug/netcoreapp2.1/Advent of Code.runtimeconfig.json
